:root {
    --main-bg-color: rgb(7, 5, 6);
    --primary-color:#b2b2b2ff;
    --secondary-color: #aa5042ff;
    --tertiery-color: #636940ff;
    --cuaternary-color: #125e8aff;
  }

  
  
  
  
  body{
    
      background-color:var(--main-bg-color);
      color:var(--primary-color);
      font-family: 'Abril Fatface', sans-serif;
      font-size:18px;

      /*    font-family: 'Ibarra Real Nova', serif;*/
    }
  
  svg {
      fill: var(--primary-color);
      width:32px;
      height:32px;
    }

    .navbar{
    font-size:20px;
    font-family: 'Abril Fatface', sans-serif;

    }
 
    .navbar-brand span{
        color:var(--primary-color);
    }

    .card{
      background-color:transparent;
      border:3px solid transparent;      
    }

    .nav-item{
        font-size:18px;
        font-family: 'Abril Fatface', sans-serif;
    }

    .intro-text{
      font-size:18px;
      font-family: 'Abril Fatface', sans-serif;
      display:flex;
      justify-content: center;
      flex-direction:column;
    }

    .topic-name{
    font-size:30px;
    font-family: 'Abril Fatface', sans-serif;
    display:flex;
    justify-content: center;
    flex-direction:column;
    }


  .table-striped{
    
    color:var(--primary-color);
    }